BODY { background: #6aaa93; padding: 50px;}
H1, H2, H3 {color: #0c3a2c; text-decoration-color:#72998a; 'Times New Roman', Times, serif;}
body {color: #41340c; 'Times New Roman', Times, serif;}
#mypic {width: 200px;}
#statue {width: 238px;}